<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="/css/angular_material.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="/css/components_min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/recording_min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" >
    <script src="/js/angular.min.js" ng-csp></script>
    <script src="/js/angular_material.min.js" ng-csp></script>
    <script src="/js/third_party.min.js"></script>

    <script src="/js/gtar_compiled.js"></script>
  </head>
  <body ng-app="tvt.module.gtar" class="md-body-1" ng-strict-di>
    <ui-view></ui-view>
  </body>
</html>
